<template>
  <div class="logo" />
  <div class="menu">
    <a-menu  @menu-item-click="menuItemClicked">

      <a-menu-item v-for="item in menu" :key="item.key" >
        <template #icon>
          <component :is="item.icon" />
        </template>
        <span>{{ item.title }}</span>
      </a-menu-item>
    </a-menu>
  </div>




</template>
<script setup lang="ts">

import router from "@/router";

const menu = [
  {
    key: "1",
    title: "扫雷",
    icon: "icon-file-audio",
    path:"/saolei"
  },
  {
    key: "2",
    title: "八皇后",
    icon:"icon-stamp",
    path: "/eight-queens"
  },
  {
    key: "3",
    title: "背包",
    path: "/beibao",
    icon: "icon-gift"
  }
]


const menuItemClicked = (key: string) => {
  console.log(key);
  const item = menu.find((item) => item.key === key);
  if (item) {
    console.log(item.path);
    router.push(item.path);
  }}

</script>
<style scoped>
.logo{
  background: var(--color-fill-2);
  height: 50px;
  width: 230px;
  position: relative;
  left: 10px;
  padding: 10px;
  top: 10px;
}


</style>