<template>
  <div class="common-box">
    <div v-if="hasStarted" class="beibao-start" >
      <a-space size="large" class="beibao-start-card">
        <a-statistic title="当前背包所剩容量" :value="capacity-usedcapacity">
        </a-statistic>
        <a-statistic title="当前背包总价值" :value="currentValue">
        </a-statistic>
        <a-statistic title="当前背包最大容量" :value="capacity">
        </a-statistic>
        <a-statistic title="所用时间（单位s）" :value="elapsedTime"></a-statistic>
      </a-space>

      <div class="beibao-start-board">
        <a-card :bordered="false">
          <a-card-grid v-for="(item, index) in gameData" :key="index" >"
            <a-card :bordered="false" size="small" :class="{ 'selected': usedBagID[index] === 1 }">
              <template #title>
                背包{{index+1}}
              </template>
              <template #extra>
                <a-button @click="doSelect(index)">选择</a-button>
              </template>
              背包重量:{{item.weight}}
              背包价值:{{item.value}}

            </a-card>
          </a-card-grid>
        </a-card>

      </div>
      <div class="beibao-start-btn">
        <a-button type="primary" @click="submit" long>提交</a-button>
      </div>




    </div>
    <div v-else class="beibao-not-start">
      <a-image src="http://qny.hallnakulaos.cn/bag.png" :preview=false width="100%" height="100%">
      </a-image>
      <a-button type="primary" @click="hasStarted = true" long class=".beibao-not-start-btn">开始游戏</a-button>
    </div>
  </div>


</template>
<script setup lang="ts">
import {onMounted, onUnmounted, ref} from "vue";
import {Message, Modal, Notification} from "@arco-design/web-vue";


const hasStarted = ref<boolean>(false)
const gameData = ref<Array<{weight:number,value:number}>>([])
const itemCount = ref<number>(6)
const usedcapacity = ref<number>(0)
const capacity = ref<number>(10)
const currentValue= ref<number>(0)
const elapsedTime = ref<number>(0);
const usedBagID = ref<number[]>([])

// generateKnapsackData背包数据生成函数
function generateKnapsackData(itemCount: number) {
  capacity.value = Math.floor(Math.random() * 200) + 1;
  return Array.from({ length: itemCount }, () => ({
    weight: Math.floor(Math.random() * 100) + 1,
    value: Math.floor(Math.random() * 100) + 1,
  }));
}

// initGame 初始化游戏
function initGame(){
  gameData.value = generateKnapsackData(12);
}


function submit(){
  const result = Dp(gameData.value, capacity.value);
  if(result.maxValue===currentValue.value) {
    Modal.success({
      title: '恭喜你，背包问题解决成功',
      content: `背包的最大价值为：${result.maxValue}`,
    });
  }else{
    Modal.error({
      title: '背包问题解决失败',
      content: `背包的最大价值为：${result.maxValue},应选择的背包为：${result.selectedItems.map((index) => '背包' + (index + 1)).join(', ')}`
    });
  }
}

function doSelect(index:number){
  if(usedBagID.value[index]===1){
    usedBagID.value[index]=0;

    usedcapacity.value-=gameData.value[index].weight;
    currentValue.value-=gameData.value[index].value;
    return;
  }else{
    usedBagID.value[index]=1;
    usedcapacity.value+=gameData.value[index].weight;
    currentValue.value+=gameData.value[index].value;
  }
}

onMounted(()=>{
  initGame()
  const timer = setInterval(() => {
    elapsedTime.value++;
  }, 1000);
  onUnmounted(() => {
    clearInterval(timer);
  });
})

// 背包问题的动态规划解法
function Dp(gameData: Array<{weight:number,value:number}>, capacity: number) {
  const itemCount = gameData.length;
  const dp: number[][] = Array.from({ length: itemCount + 1 }, () => Array(capacity + 1).fill(0));
  const keep: number[][] = Array.from({ length: itemCount + 1 }, () => Array(capacity + 1).fill(0));

  for (let i = 1; i <= itemCount; i++) {
    const { weight, value } = gameData[i - 1];
    for (let j = 0; j <= capacity; j++) {
      if (j < weight) {
        dp[i][j] = dp[i - 1][j];
      } else {
        const valueIfTake = dp[i - 1][j - weight] + value;
        if (valueIfTake > dp[i - 1][j]) {
          dp[i][j] = valueIfTake;
          keep[i][j] = 1;
        } else {
          dp[i][j] = dp[i - 1][j];
        }
      }
    }
  }

  const selectedItems = [];
  let remainingCapacity = capacity;
  for (let i = itemCount; i >= 1; i--) {
    if (keep[i][remainingCapacity] === 1) {
      selectedItems.push(i - 1);
      remainingCapacity -= gameData[i - 1].weight;
    }
  }

  return {
    maxValue: dp[itemCount][capacity],
    selectedItems
  };
}




</script>
<style scoped>
.common-box{
  .beibao-not-start{
    .beibao-not-start-btn{
      height: 50px;
    }
  }
  .beibao-start{
    .beibao-start-card{
      display: flex;
      justify-content: space-around;
      border: 1px solid var(--color-border-1);
      margin: 5px;

    }
    .beibao-start-board{
      padding: 50px 20px 20px;

      .selected{
        border: 2px solid red;
      }
    }

    .beibao-start-btn{
      padding: 20px;

    }
  }

}
</style>