

<template>
  <div class="common-box">
    <div v-if="hasStarted" class="eightqueen-start">
      <div class="eightqueen-card">
        <a-card size="small" >
          <a-row>
            <a-col :span="20">
              <a-typography>
                <a-typography-title class="eightqueen-start-header " :heading="5">
                  当前已放置皇后数: {{usedChessNumber}}
                </a-typography-title>
              </a-typography>
            </a-col>
            <a-col :span="4">
              <a-button type="primary" status="success" @click="displayAnswer=true" class="eightqueen-start-btn">查看答案</a-button>
            </a-col>
          </a-row>

        </a-card>

      </div>

<!--      // 游戏布局-->
      <div class="modal-eightqueen-board">
        <div v-for="(row, i) in chessBoard" :key="i" class="row">
          <div v-for="(cell, j) in row" :key="j" :class="['cell']"  @click="setCell(i, j)">
            <component :is="cell === 1 ? 'icon-user' : 'div'" class="eightqueen-board-cell"></component>
          </div>
        </div>
      </div>


    </div>
    <div v-else class="eightqueen-not-start">
      <a-image src="http://qny.hallnakulaos.cn/eightqueen.png" :preview=false width="100%" height="100%">

      </a-image>
      <div class="eightqueen-not-start-btn">
        <a-button type="primary" long @click="hasStarted=true" style="height: 50px">开始游戏</a-button>
      </div>

    </div>
    <a-modal v-model:visible="displayAnswer" >
      <template #title>
        八皇后问题解法
      </template>
      <div class="modal-eightqueen-board">
        <div v-for="(row, i) in defaultchessBoard" :key="i" class="row">
          <div v-for="(cell, j) in row" :key="j" :class="['cell']"  @click="setCell(i, j)">
            <component :is="cell === 1 ? 'icon-user' : 'div'" class="eightqueen-board-cell"></component>
          </div>
        </div>
      </div>
    </a-modal>
  </div>


</template>
<script setup lang="ts">

import {getCurrentInstance, onMounted, ref, watch, watchEffect} from "vue";
import {Message, Modal, Notification} from "@arco-design/web-vue";


const hasStarted = ref<boolean>(false)
const chessBoard = ref<Array<Array<number>>>([])
const usedChessNumber = ref<number>(0)
const victory = ref<boolean>(false)
const displayAnswer = ref<boolean>(false)
const defaultchessBoard = ref<Array<Array<number>>>([])






const setCell = (i: number, j: number) => {
  if(isValid(i,j,chessBoard.value) &&chessBoard.value[i][j] !== 1 ){
    chessBoard.value[i][j] = 1;
    usedChessNumber.value++;
    return
  }

  if(chessBoard.value[i][j]===1){
    chessBoard.value[i][j] = 0;
    usedChessNumber.value--;
  }

};

// 判断八皇后落点位置是否有效
function isValid(row: number, col: number, board: number[][]): boolean {
  // 检查当前列
  for (let i = 0; i < 8; i++) {
    if (i !== row && board[i][col] === 1) {
      if(i<row){
        Notification.error(`当前位置不可放置皇后,与位置第${i+1}行,第${col+1}列的皇后冲突`);
      }else{
        Notification.error(`当前位置不可放置皇后,与位置第${i+1}行,第${col+1}列的皇后冲突`);
      }
      return false;
    }
  }

  // 检查当前行
  for (let j = 0; j < 8; j++) {
    if (j !== col && board[row][j] === 1) {
      Notification.error(`当前位置不可放置皇后,与位置第${row+1}行,第${j+1}列的皇后冲突`);
      return false;
    }
  }
  // 检查左上到右下对角线
  for (let i = row - 1, j = col - 1; i >= 0 && j >= 0; i--, j--) {
    if (board[i][j] === 1) {
      Notification.error(`当前位置不可放置皇后,与位置第${i+1}行,第${j+1}列的皇后冲突`);
      return false;
    }
  }
  for (let i = row + 1, j = col + 1; i < 8 && j < 8; i++, j++) {
    if (board[i][j] === 1) {
      Notification.error(`当前位置不可放置皇后,与位置第${i+1}行,第${j+1}列的皇后冲突`);
      return false;
    }
  }
  // 检查右上到左下对角线
  for (let i = row - 1, j = col + 1; i >= 0 && j < 8; i--, j++) {
    if (board[i][j] === 1) {
      Notification.error(`当前位置不可放置皇后,与位置第${i+1}行,第${j+1}列的皇后冲突`);
      return false;
    }
  }
  for (let i = row + 1, j = col - 1; i < 8 && j >= 0; i++, j--) {
    if (board[i][j] === 1) {
      Notification.error(`当前位置不可放置皇后,与位置第${i+1}行,第${j+1}列的皇后冲突`);
      return false;
    }
  }
  return true;
}

function isSafe(board: number[][], row: number, col: number): boolean {
  // Check this row on left side
  for (let i = 0; i < col; i++) {
    if (board[row][i]) return false;
  }

  // Check upper diagonal on left side
  for (let i = row, j = col; i >= 0 && j >= 0; i--, j--) {
    if (board[i][j]) return false;
  }

  // Check lower diagonal on left side
  for (let i = row, j = col; j >= 0 && i < 8; i++, j--) {
    if (board[i][j]) return false;
  }

  return true;
}

// eightqueen 八皇后问题答案
function eightqueen(board: number[][], col: number = 0): boolean {
  if (col >= 8) return true;

  for (let i = 0; i < 8; i++) {
    if (isSafe(board, i, col)) {
      board[i][col] = 1;

      if (eightqueen(board, col + 1)) return true;

      board[i][col] = 0; // BACKTRACK
    }
  }

  return false;
}


onMounted(() => {
  for (let i = 0; i < 8; i++) {
    chessBoard.value[i] = [];
    for (let j = 0; j < 8; j++) {
      chessBoard.value[i][j] = 0;
    }
  }
  for (let i = 0; i < 8; i++) {
    defaultchessBoard.value[i] = [];
    for (let j = 0; j < 8; j++) {
      defaultchessBoard.value[i][j] = 0;
    }
  }

  eightqueen(defaultchessBoard.value);

});


watch(usedChessNumber,(newVal)=>{
  console.log(newVal);
  if(newVal === 8){
    Modal.success({
      title: 'success',
      content: '恭喜你，已经成功放置8个皇后',
    })
    // Notification.success();
  }
})


</script>
<style scoped lang="less">
.common-box{
  //border-left: 1px solid var(--color-border);
  .eightqueen-not-start{
    min-height: 100%;
    height: 100%;

    .eightqueen-not-start-btn{
      position: relative;
      bottom: 20px;

    }


  }
  .eightqueen-start{
    .eightqueen-card{
      .eightqueen-start-header{
        margin-top: 0;
        margin-bottom: 0.2rem;
        text-align: center;
        color: rgb(var(--arcoblue-6));

      }
      .eightqueen-start-btn{

      }
    }

    .modal-eightqueen-board{
      margin: 20px;
      //width: 770px;
      height: 560px;


      .row {
        display: flex;
        .cell {
          width: 105px;
          height: 70px;
          border: 1px solid var(--color-border-3);
          .eightqueen-board-cell{
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 20px;
          }
      }
      }

    }



  }

}
.modal-eightqueen-board{
  margin: 20px;


  .row {
    display: flex;
    .cell {
      width: 45px;
      height: 45px;
      border: 1px solid var(--color-border-3);
    }
  }
}

  .arco-message-list {
    z-index: 20000 !important; /* 使用一个足够高的值 */
  }

</style>