
<template>
  <div class="common-box">
    <div v-if="start" class="saolei-start">
      <div class="saolei-start-header">

      </div>
      <div class="saolei-start-board">
        <div v-for="(row, i) in showMineBoard" :key="i" >
          <div class="row" v-if="i<=9 && i>=1">
            <div v-for="(cell, j) in row" :key="j" >
              <div :class="['cell']"  @click="Judge(i, j)" v-if="j>=1 && j<=9" @contextmenu.prevent="markMine(i,j)">
                <div v-if="i===boomx && j==boomy">
                  <div class="saolei-board-cell-boom" >
                    <icon-fire />
                  </div>

                </div>
                <div v-else>
                  <div class="saolei-board-cell" >
                    <div v-if="cell===-1">
                      <icon-gift />
                    </div>
                    <div v-else-if="cell===-2">

                    </div>
                    <div v-else-if="cell===-3">
                      <icon-edit />
                    </div>
                    <div v-else-if="cell===11">
                      <icon-fire />
                    </div>
                    <div v-else>
                      {{showMineBoard[i][j]}}
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>

        </div>
      </div>
    </div>
    <div v-else class="saolei-not-start">
      <a-image src="http://qny.hallnakulaos.cn/saolei.jpg" :preview=false width="100%" height="100%">
      </a-image>
        <a-button type="primary" @click="start = true" long class="saolei-not-start-btn">开始游戏</a-button>
    </div>
  </div>




</template>
<script setup lang="ts">

import {onMounted, ref, watch} from "vue";
import {Message, Modal, Notification} from "@arco-design/web-vue";

const start = ref<boolean>(false)
// 存放雷的数据
const mineBoard = ref<Array<Array<number>>>([])
// 显示雷的数据,-1表示未翻开，-2表示不展示值,-3表示手动标记
const showMineBoard = ref<Array<Array<number>>>([])
const row:number=9
const col:number=9
const mines:number=10
const end = ref<boolean>(false)
const displayAnswer = ref<boolean>(false)
const failureflag = ref<boolean>(false)
const rows:number=11
const cols:number=11
const win= ref<number>(0)

// 记录炸死的坐标
const boomx=ref<number>(-1)
const boomy=ref<number>(-1)


// 初始化游戏,也就是数据生成
function initGame(){
  // 初始化棋盘
  for (let i = 0; i < cols; i++) {
    mineBoard.value[i] = [];
    showMineBoard.value[i] = [];
    for (let j = 0; j < rows; j++) {
      mineBoard.value[i][j] = 0;
      showMineBoard.value[i][j] = -1;// -1表示未翻开
    }
  }

// 随机生成10个雷
  let minescnt = 0;
  while (minescnt < mines) {
    const x = Math.floor(Math.random() * row) + 1;
    const y = Math.floor(Math.random() * col) + 1;
    if (mineBoard.value[x][y] === 0) {
      mineBoard.value[x][y] = 11;
      minescnt++;
    }
  }
}

// Judge判断点击的位置
function Judge(x:number,y:number) {
  // x,y为点击的坐标
  if (x >= 1 && x <= row && y >= 1 && y <= col) {
    if (mineBoard.value[x][y] === 11) {
      boomx.value=x
      boomy.value=y
      failureflag.value=true
      for(let i=1;i<=row;i++){
        for(let j=1;j<=col;j++){
          if(mineBoard.value[i][j]===11){
            showMineBoard.value[i][j] = mineBoard.value[i][j]
          }
          if(showMineBoard.value[i][j]==-1){
            showMineBoard.value[i][j] = -2;
          }
        }
      }
      return
    }
    if(showMineBoard.value[x][y]!==-1){
      Notification.warning("当前位置已经排查")
      return;
    }else{
      ExplosionSpread(x,y)
    }
  }else{
    Notification.error("当前位置不在范围内")
  }
}

// getMineNumber获取周围雷的数量
function getMineNumber(x:number,y:number):number{
  let cnt = 0;
  for(let i=x-1;i<=x+1;i++){
    for(let j=y-1;j<=y+1;j++){
      if(mineBoard.value[i][j]===11){
        cnt++;
      }
    }
  }
  return cnt;
}


// ExplosionSpread爆炸扩散
function ExplosionSpread(x:number,y:number){
  if(x >= 1 && x <= row && y >= 1 && y <= col){
    let num = getMineNumber(x, y);
    if(num===0){
      win.value++
      showMineBoard.value[x][y] = -2 // -2不展示值
      for(let i=x-1;i<=x+1;i++){
        for(let j=y-1;j<=y+1;j++){
          if(showMineBoard.value[i][j]===-1){
            ExplosionSpread(i,j)
          }
        }
      }
    }else{
      win.value++
      showMineBoard.value[x][y] = num;
    }
  }

}

// markMine标记雷
function markMine(x:number,y:number){
  if(showMineBoard.value[x][y]===-1){
    showMineBoard.value[x][y] = -3
  }else if(showMineBoard.value[x][y]===-3){
    showMineBoard.value[x][y] = -1
  }else{
    Notification.warning("当前位置不能标记")
  }
}

function reinit(){
  end.value=false
  failureflag.value=false
  displayAnswer.value=false
  win.value=0
  boomx.value=-1
  boomy.value=-1
  initGame()
}

onMounted(()=>{
  initGame()
})

watch(failureflag, (value) => {
  if(value){
    end.value=true
    Modal.error({
      title: '游戏结束',
      content: '很遗憾，你踩到了地雷',
      // onOk: () => {
      //   start.value=false
      //   end.value=false
      //   failureflag.value=false
      //   displayAnswer.value=false
      //   win.value=0
      //   boomx.value=-1
      //   boomy.value=-1
      //   initGame()
      // },
    })
  }
})


</script>

<style scoped lang="less">
.common-box{
  .saolei-start{
  .saolei-start-board{
    margin: 20px;
    //width: 770px;
    height: 560px;


    .row {
      display: flex;
      .cell {
        width: 85px;
        height: 70px;
        border: 1px solid var(--color-border-3);
        .saolei-board-cell{
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 20px;
        }
        .saolei-board-cell-boom{
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 20px;
          color: red;
        }
      }
    }
  }
    .saolei-reinit{
      position: relative;
      bottom: 20px;


    }
}
  .saolei-not-start{
    .saolei-not-start-btn{
      height: 50px;
    }
  }
}
</style>