<template>
  <a-layout class="common-layout">
    <a-layout-sider :width="250" class="common-sider">
      <Sider />
    </a-layout-sider>
    <a-layout class="common-box">
<!--      <a-layout-header class="common-header">-->
<!--        <Header></Header>-->
<!--      </a-layout-header>-->
      <a-layout-content >

          <router-view />

      </a-layout-content>
    </a-layout>
  </a-layout>


</template>


<script setup lang="ts">

import Sider from "@/layout/Sider/Sider.vue";
// import Header from "@/layout/Header/Header.vue";
</script>
<style scoped lang="less">
.common-layout{
  min-height: 100vh;
  min-width: 100vw;
  .common-sider{
    //border: 2px solid var(--color-border);
    margin-left: 230px;
  }
  .common-box{
    width: 800px;
    max-width: 800px;
    .common-header{
      border-bottom: 1px solid var(--color-border);;
    }
  }
}
</style>